.contenaireCard{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.card{
    flex: 0 1 45%;
    border-radius: 0 0 2px 2px;
    margin-top: 1rem;
}

.card img{
    margin-left: 2%;
    width: 5rem;
}
#mapgoogle {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    
    #mapgoogle iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

