.card-header{
    background-color: #2E4588;
}
h5{
    color: white;
}
a:hover{
    color:#EEEEEE;
}
input{
    border:1px solid #d2d6da;
    border-radius: 3px;
}

#accordionSemestre{
    margin-top: 3%;
    margin-bottom: 3%;
}