.navbar,.dropdown-menu {
    background-color: #2E4588!important;
    
}
.navbar a{
    color:#eee !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #C34F5A !important;
 }

 .active{
    font-weight: 800!important;
}